a {
    text-decoration: none;
}

.p {
    &-hd {
        color: #183B88;
        background-color: #fff;
    }
    &-menu {
        &-color {
            color: #183B88;
        }
    }
    &-bc {
        color: #FF7533;
    }
    &-common {
        &-btn {
            color: #fff;
            background-color: #FF7533;
        }
        &-color {
            color: #007518;
        }
        &-bg {
            color: #fff;
            background-color: #007518;
        }
    }
    &-ttl {
        color: #007518;
    }
}

.active-sb {
    color: #007518 !important;
}

.hd {
    &-logo {
        height: 22px;
        padding-top: 5px;
    }
}

.page-ttl {
    color: #007518;
}

.ft {
    min-height: unset;
}